

#*llvm*


LLVM/build
LLVM/.clang-tidy
LLVM/CODE_OF_CONDUCT.md
LLVM/cross-project-tests
LLVM/libclc
LLVM/libunwind
LLVM/lldb
LLVM/.mailmap
LLVM/polly
LLVM/README.md
LLVM/third-party
LLVM/clang
LLVM/clang-tools-extra
LLVM/compiler-rt
LLVM/flang
LLVM/libc
LLVM/LICENSE.TXT

LLVM/mlir
LLVM/pstl
LLVM/runtimes
LLVM/utils
LLVM/bolt
LLVM/.clang-format
LLVM/cmake
LLVM/CONTRIBUTING.md
LLVM/libcxx
LLVM/libcxxabi
LLVM/lld
LLVM/llvm-libgcc
LLVM/openmp
LLVM/pyproject.toml
LLVM/SECURITY.md


LLVM/llvm/benchmarks
LLVM/llvm/.clang-format

LLVM/llvm/CODE_OWNERS.TXT
LLVM/llvm/CREDITS.TXT
LLVM/llvm/examples
LLVM/llvm/.gitignore

LLVM/llvm/llvm.spec.in
LLVM/llvm/README.txt
LLVM/llvm/resources
LLVM/llvm/test
LLVM/llvm/unittests
LLVM/llvm/bindings
LLVM/llvm/.clang-tidy

LLVM/llvm/configure
LLVM/llvm/docs
LLVM/llvm/.gitattributes

LLVM/llvm/LICENSE.TXT
LLVM/llvm/projects
LLVM/llvm/RELEASE_TESTERS.TXT
LLVM/llvm/runtimes
LLVM/llvm/tools
LLVM/llvm/utils
LLVM/llvm/cmake


LLVM/llvm/include/CMakeLists.txt
LLVM/llvm/include/llvm-c
LLVM/llvm/include/module.extern.modulemap
LLVM/llvm/include/module.install.modulemap
LLVM/llvm/include/module.modulemap
LLVM/llvm/include/module.modulemap.build


.vscode


*.c
t
*.bc

build/
test/
.idea/*
